# Data Science Tools and Ecosystem

In the notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__

* Introduction to programming languages
* Creating a Jupyter notebook
* Learning more about GitHub

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| PyCharm            |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Jordan Hartman